<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFastAPI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
            stdoutLogEnabled="true"
            stdoutLogFile=".\logs\stdout"
            startupTimeLimit="60"
            startupRetryCount="3"
            processPath="%HOME%\Python364x64\python.exe"
            arguments="%HOME%\site\wwwroot\server:app --host=0.0.0.0 --port=8000">
            <environmentVariables>
                <environmentVariable name="PORT" value="8000" />
            </environmentVariables>
        </httpPlatform>
        <httpLogging dontLog="False" />
    </system.webServer>
</configuration>